.aspiring {
  font-family: "Montserrat";
  padding: 50px 0;
}

.middle {
  align-items: center;
}

.btn1 {
  background-color: #049ea5;
  font: inherit;
  letter-spacing: inherit;
  min-width: 200px;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
  transition: color 1s;
  color: #fff;
  width: 100%;
  font-family: "Montserrat";
  text-decoration: none;
  transition: color 1s;
  text-align: center;
}

.btn1:hover {
  transition: all.5 ease-in-out;
  color: #fff;
  background-color: #223235;
}
.btn2:hover {
  background-color: #049ea5;
  color: #fff;
}
.btn2 {
  background-color: #fff0;
  font: inherit;
  letter-spacing: inherit;
  padding: 12px 55px;
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
  transition: color 1s;
  color: #fff;
  background-color: #223235;
  width: 100%;
  font-family: "Montserrat";
  text-decoration: none;
  margin-left: 3%;
  text-align: center;
}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {
  .stopworrying {
    background-position: top;
  }
}

@media (max-width: 767px) {
  .btn1 {
    display: block;
  }
  .btn2 {
    display: block;
    margin-left: 0%;
    margin-top: 4%;
  }
}
