.banner {
  background-image: url(/images/bannerimages/homebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  padding: 150px 0 50px;
  text-align: left;
}

.aboutbanner {
  background-image: url(/images/bannerimages/aboutbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  background-position: center;
  font-family: "Montserrat";
}

.ghostwriting {
  background-image: url(/images/bannerimages/ghost.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.business {
  background-image: url(/images/bannerimages/business.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.pricing {
  background-image: url(/images/bannerimages/pricing.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 150px 0 50px;
  font-family: "Montserrat";
  border-bottom: 2px solid #02adb54d;
}

.bookpublishingservices {
  background-image: url(/images/bannerimages/bookpublishingservices.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
}

.articlewritingservices {
  background-image: url(/images/bannerimages/articleswriting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.bookpromotionservices {
  background-image: url(/images/bannerimages/bookpromotionservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.bookeditingservices {
  background-image: url(/images/bannerimages/bookeditingservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 150px 0 50px;
  background-position: center;
  font-family: "Montserrat";
}

.bookmarketingservices {
  background-image: url(/images/bannerimages/bookmarketingservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.audiobookproduction {
  background-image: url(/images/bannerimages/audiobook.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.illustrationbook {
  background-image: url(/images/bannerimages/illustration.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  align-items: flex-start;
  background-position: 0% 75%;
  font-family: "Montserrat";
}

.bookwritingservices {
  background-image: url(/images/bannerimages/bookwritingservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.ebook {
  background-image: url(/images/bannerimages/ebook.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: top;
  font-family: "Montserrat";
}

.offeringyoubook {
  background-image: url(/images/bannerimages/proofreading.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.digitalmarketingservices {
  background-image: url(/images/bannerimages/bookmarketingservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: right;
  font-family: "Montserrat";
}

.bookformattingservices {
  background-image: url(/images/bannerimages/bookformatting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.webcontentwritingservices {
  background-image: url(/images/bannerimages/webcontentwritingservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.bookvideotrailer {
  background-image: url(/images/bannerimages/bookvideotrailer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

.condition {
  background-color: #02adb54d;
  padding: 150px 0 50px;
  display: flex;
  align-items: center;
  background-position: center;
  font-family: "Montserrat";
}

/* .press {
  padding-top: 140px;
  padding-bottom: 70px;
}

.blogsbanner {
  padding-top: 200px;
  padding-bottom: 150px;
  background-color: #02adb54d;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
} */

/* .ghost {
  background-image: url(/images/bannerimages/ghostbann.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 70px;
  font-family: "Montserrat";
} */

/* .bookwritingservices {
  background-image: url(/images/bannerimages/bookwritingservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  background-position: center;
  font-family: "Montserrat";
} */

/* .blogwritingservices {
  background-image: url(/images/bannerimages/blogwritingservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  background-position: center;
  font-family: "Montserrat";
}

.bookcoverdesignservices {
  background-image: url(/images/bannerimages/bookcoverdesignservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  background-position: center;
  font-family: "Montserrat";
} */

/* .buildexcitement {
  background-image: url(/images/bannerimages/buildexcitement.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 70px;
  background-position: center;
  font-family: "Montserrat";
}

.topratedbusiness {
  background-image: url(/images/bannerimages/topratedbusiness.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 70px;
  background-position: center;
  font-family: "Montserrat";
} */

/* .childrenbookpublication {
  background-image: url(/images/bannerimages/childrenbookpublication.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 70px;
  background-position: center;
  font-family: "Montserrat";
}

.authormarketingpromotionservices {
  background-image: url(/images/bannerimages/authormarketingpromotionservices.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 70px;
  background-position: right;
  font-family: "Montserrat";
}

.childrenbookIllustrations {
  background-image: url(/images/bannerimages/childrenbookIllustrations.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 70px;
  background-position: right;
  font-family: "Montserrat";
} */

/* .audiobookrecordingservices {
  background-image: url(/images/bannerimages/audiobookrecordingservices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  background-position: center;
  font-family: "Montserrat";
} */

/* .empoweringauthorswith {
  background-image: url(/images/bannerimages/authorwebsite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  background-position: center;
  font-family: "Montserrat";
} */

/* ================================= */

.homenumer:hover {
  background-color: #223235;
  border: 1px solid #223235;
}

.alignclass {
  width: 69%;
  margin: 0 auto;
}

.align {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.release {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.release p {
  font-weight: 900;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 auto !important;
  font-family: "Montserrat";
  width: 100%;
}

.blogbanclass {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.faqs {
  background-color: #02adb54d;
  padding-top: 140px;
  padding-bottom: 70px;
  background-position: center;
  font-family: "Montserrat";
  height: 100vh;
}

.discuss {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 35px;
  color: #fff;
  min-width: 180px;
  text-decoration: unset;
  font-family: "Montserrat";
  border-radius: 50px;
  border: 0;
  background-color: #223235;
  text-align: center;
}

.discuss:hover {
  color: #fff;
  background-color: #049ea5;
  border: 0;
}

.homenumer:hover {
  color: white;
  border: 0;
}

.homenumer {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 35px;
  color: #fff;
  min-width: 180px;
  text-decoration: unset;
  font-family: "Montserrat";
  border-radius: 50px;
  border: 0;
  text-align: center;
  background-color: #049ea5;
}

.homebannerlogo {
  margin-top: 40px;
}

.bgVideo1 {
  width: 100%;
}

.crossclose {
  position: absolute;
  top: 7px;
  right: 10px;
  background-color: #222222;
  color: white;
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 3px;
  font-weight: 700;
  font-family: "Montserrat";
  cursor: pointer;
  z-index: 9;
}

.thankyoubtn {
  border: 0;
  padding: 12px 30px;
  border-radius: 50px;
  background-color: #049ea5;
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat";
}

.thankyoubtn:hover {
  background-color: #223235;
  color: #f1f1f1;
}

.free {
  color: #fff;
  font-weight: 300;
  border-radius: 10px;
  text-align: center;
  text-align: center;
  padding: 8px 30px;
  margin: 20px 0 0;
  border: transparent;
  cursor: pointer;
  font-size: 14px;
  background: #fd9802;
  width: 100%;
  font-family: "Montserrat";
  text-decoration: none;
}

.free:hover {
  color: #fff;
}

.bannerBtns {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* ============================== */

@media (min-width: 1440px) {
  .otherBanner {
    margin-top: 100px;
  }
}

@media (max-width: 1200px) {
  .new1 {
    margin: 25px auto;
    margin-left: 1%;
  }
}

@media (max-width: 991px) {
  .logonew {
    filter: unset;
  }

  .ghost {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .audiobookproduction {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .illustrationbook {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .banner {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .ghostwriting {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .ebook {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .bookwritingservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .bookpublishingservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .pricing {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .bookpromotionservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .bookeditingservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .bookmarketingservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .offeringyoubook {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .blogwritingservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .bookcoverdesignservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .buildexcitement {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .topratedbusiness {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .childrenbookpublication {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .authormarketingpromotionservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .childrenbookIllustrations {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .digitalmarketingservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .bookformattingservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .audiobookrecordingservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .webcontentwritingservices {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .empoweringauthorswith {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .ghost {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .illustrationbook {
    background-image: unset;
    background-color: #fff;
    padding: 50px 0;
    height: auto;
  }

  .newPara {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .bannerBtns {
    justify-content: center;
  }

  .discuss,
  .homenumer {
    font-size: 12px;
    padding: 9px 10px;
    min-width: 150px;
  }
}

@media (max-width: 480px) {
  .new1 {
    font-size: 12px;
    display: block;
    width: fit-content;
    margin: 25px auto;
  }

  /* .discuss {
    font-size: 12px;
    padding: 9px 10px;
    display: block;
    margin-bottom: 2%;
}
  .homenumer {
    font-size: 12px;
    padding: 9px 10px;
    display: block;
} */

  .bookpublishingservices h1 {
    max-width: 100%;
  }

  .homebannerlogo {
    display: none;
  }

  .alignclass {
    width: 100%;
    margin: 0 auto;
  }

  .homelogoimgnone {
    display: none;
  }

  .formalign {
    padding-top: 2%;
    margin-bottom: 9%;
  }
}
