.experts {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat";
  background-image: url(/images/cta/cta.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.orBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.discuss1 {
  padding: 12px 30px;
  background-color: #fff;
  border: 2px solid #fff;
  width: fit-content;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #223235;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.discuss1:hover {
  background-color: transparent;
  color: #fff;
}

.discuss {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 12px 30px;
  background-color: #223235;
  border: 2px solid #223235;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.discuss:hover {
  color: #fff;
  background-color: transparent;
}

@media (max-width: 480px) {
  .experts p {
    font-size: 14px;
  }

  .orBtns {
    flex-direction: column;
    gap: 40px;
  }

  .discuss1,
  .discuss {
    padding: 12px 100px;
  }
}
