.headerhome {
  height: 100px;
}

.navBar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.navalign {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 0;
  padding-left: 0;
}

.headerContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.cross {
  position: absolute;
  top: 22px;
  right: 20px;
  background-color: #223235;
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50px;
  font-weight: 700;
  font-family: "Montserrat";
  cursor: pointer;
}

.border {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-right: 2px solid #ccc;
}

.lastCol {
  border-right: 0px;
}

.valuenum {
  position: relative;
  left: -6px;
}

.align_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  height: 100%;
  width: 100%;
  margin-bottom: unset;
  padding-left: 0;
}

.cntct {
  justify-content: flex-start;
  gap: 40px;
}

.menulinks {
  color: #222;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Poppins";
  height: 100%;
  display: flex;
  align-items: center;
}

.navlinks {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.headertel {
  font-size: 15px;
  padding: 0px 30px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #223235;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
}

.headerbtnspacing {
  border: 2px solid #049ea5;
  background-color: #049ea5;
}

.headertel.headerbtnspacing:hover,
.headertel.headerbtnspacing a:hover {
  background-color: #049ea5;
}

.headerbtncolor {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.headertel:hover {
  background-color: #223235;
  color: white;
}
.headerbtncolor:hover {
  background-color: #223235;
  color: white;
}

.megamenu ul li a {
  color: #fff;
}

.headerContainer {
  position: relative;
}

.megamenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border: 0;
  display: none;
  margin: auto;
  border-radius: 4px;
  background-color: #f1f1f1;
  z-index: 1;
  box-shadow: 0 0 5px 0 #292929;
  font-family: "Montserrat", sans-serif;
}

.serviceshover:hover .megamenu {
  display: block;
  animation: 0.7s ease-in-out forwards growDown;
  transform-origin: top;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.megamenu li a {
  font-family: "Montserrat", sans-serif;
}

.headerbtnspacing {
  position: relative;
  left: 10px;
}

.headericon {
  display: flex;
  align-items: center;
}

/* .bigIcon1 {
    position: relative;
    left: -4px;
} */

.headerhome {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.headerblue {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #02adb54d;
}
.megamenu ul li a {
  font-size: 15px;
  color: #292929;
  font-weight: 700;
}

.megamenu ul li a:hover {
  color: #79c9ff;
}

.megaLinks svg {
  color: #049ea5;
  width: 35px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.megaDiv {
  display: flex;
  flex-direction: column;
}

.megaDiv p {
  margin-bottom: 0;
  padding: 0 15px;
  font-size: 13px;
}

.megaDiv a {
  padding: 0px 15px;
}

.megaLinks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.megaLinks a {
  margin: 0px;
}

.megaImg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.megaImg img {
  width: 90px;
}

.megaImgTxt a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  padding: 0px 18px;
  height: 40px;
  width: max-content;
  border-radius: 50px;
  border: 0;
  color: #fff;
  background-color: #049ea5;
  font-family: "Montserrat";
}

.megaTitle {
  margin-left: 20px;
}

.unUseDiv {
  visibility: hidden;
}

.logonew {
  width: 135px;
  height: 60px;
}

.menulinks:hover {
  color: #049ea5;
}

.megaLinks img {
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* ========================= */

.navTogle,
.backArrow,
.mblLogo {
  display: none;
}

/* ========================= */

@media (min-width: 1440px) {
  .border {
    gap: 40px;
  }
}

@media (max-width: 1440px) {
  .navalign {
    gap: 0px;
  }

  .align_menu {
    gap: 40px;
    margin-left: 60px;
  }

  .align_menu.cntct {
    justify-content: flex-end;
    margin-left: 0;
  }

  .menulinks {
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
  .valuenum {
    position: relative;
    left: -3px;
  }

  .menulinks {
    font-size: 16px;
  }
  .headertel {
    font-size: 12px;
  }
}

@media (max-width: 1215px) {
  .megaImg img {
    width: 75px;
  }
}
@media (max-width: 1024px) {
  .megamenu ul li a {
    font-size: 9px;
  }
}
@media (max-width: 991px) {
  .border {
    align-items: unset;
  }

  .megaLinks img {
    display: none;
  }
  .menulinks {
    color: #ffffff;
  }

  .logonew {
    filter: unset;
    width: auto;
  }

  .megamenu ul li a {
    color: #ffffff;
  }
  .megamenu ul li {
    width: max-content;
  }

  .headerhome {
    position: unset;
    top: 0;
    width: 100%;
    background-color: #02adb54d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  .headerblue {
    position: unset;
    top: 0;
    width: 100%;
    background-color: #02adb54d;
  }

  .headerbtnspacing {
    position: relative;
    left: unset;
  }
  .headericon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headertel {
    margin-top: 1%;
    text-align: center;
    justify-content: center;
  }

  .headerbtnspacing {
    background-color: #049ea5;
  }

  .megaLinks svg,
  .megaDiv p,
  .megaTitle {
    display: none;
  }

  .megamenu {
    margin: 0px !important;
  }

  .border {
    border: 0;
    padding-left: 0px;
  }

  /* ====================== */

  .navTogle,
  .backArrow,
  .mblLogo {
    display: block;
  }

  .navTogle .line {
    background-color: #000;
    width: 30px;
    height: 3px;
    display: block;
    margin: 6px auto;
    transition: 0.5s ease-in-out;
  }

  .navTogle .line.line1 {
    transform: translateY(10px) rotate(45deg);
    position: absolute;
    top: 30px;
    right: 12px;
  }

  .navTogle .line.line2 {
    display: none;
  }

  .navTogle .line.line3 {
    transform: translateY(-9px) rotate(-45deg);
    margin-top: 20px;
  }

  /* =============== */

  .border {
    gap: 35px;
  }

  .align_menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: unset;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
    padding-left: 40px;
  }

  .align_menu.cntct {
    justify-content: flex-start;
    margin-top: 0;
  }

  .menulinks {
    font-size: 20px;
  }
  .headertel {
    font-size: 16px;
    padding: 8px 30px;
  }

  .mblLogo {
    margin-bottom: 30px;
    margin-left: 10px;
    width: 50%;
  }

  .navalign {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    z-index: 9;
    height: 100vh;
    padding: 20px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background-color: #272727;
    transition: all 0.5s ease-in-out;
  }

  .navalign.active {
    left: 0;
  }

  .navlinks {
    height: auto;
  }

  .megamenu {
    display: block;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #272727;
    padding: 30px 0 10px 30px;
  }

  .opnMenu {
    left: 0%;
  }

  .serviceshover:hover .megamenu {
    display: unset;
    animation: unset;
    transform-origin: unset;
  }

  .megamenu ul li a {
    font-size: 20px;
  }

  .backArrow {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    filter: invert(1);
  }

  .backArrow img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 767px) {
  .cross {
    top: -4px;
    right: 7px;
  }

  .border {
    border-right: unset;
  }

  .headerhome {
    padding: 0 5px;
  }

  .mblLogo {
    width: 75%;
  }

  .megamenu {
    padding: 30px 0 10px 10px;
  }

  .megamenu ul li a {
    font-size: 16px;
  }
}
